.button {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}


.secondary {
    background-color: rgb(88, 158, 88);
    border: 1px solid #ddd;
    border-radius: 10px;
    color: aliceblue;
}